* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: 'Acme', sans-serif;

}



h1 span {
    color: rgba(255, 81, 0, 0.925);
}

h2 {
    font-size: 40px;
    padding-top: 40px;
    text-align: center;
}

h3 {
    font-size: 16px;
}

h6 {
    color: #ffffff;
}

.container,
.container-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.image-text {

    padding-top: 10px;
}

.addToCart {
    position: absolute;
    width: 100%;
    background-color: darkgray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart {


    opacity: 1;
    padding: 10px;
    text-decoration: none;
}


/* Navbar */

.sf-toolbar-clearer {
    display: none !important;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    font-family: 'Poppins', sans-serif;

}

.background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.background-text h4 {
    font-size: 20px;
}

.background-text h5 {
    font-size: 70px;
    font-family: 'Liu Jian Mao Cao', cursive;

}


.logo {
    float: left;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%
}

.nav-link {
    display: flex;
}

.nav-links li {
    list-style: none;

}


.nav-links a {
    color: #000000;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {

        width: 60%
    }
}


@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {

        position: absolute;
        right: 0;
        height: 62vh;
        top: 16vh;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        color: #ffffff;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0)
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);

}

.bg-img {
    min-height: 400px;
    background-image: url("../images/MugPlug.png");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 100%;
    height: auto;
    /* Needed to position the navbar */
    position: relative;
}

.nav-container {
    position: absolute;
    width: auto;
}



/*  Form 


*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {

    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;

}

a:hover {
    color: darken(#1ab188, 5%);
}

.form {
    background: rgba(#13232f, .9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(#13232f, .3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;


}

.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(#a0b3b0, .25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;

}

.tab-group li a:hover {
    background: darken(#1ab188, 5%);
    color: #ffffff;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}


h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(#ffffff, .5);
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 14px;


}

label .req {
    margin: 2px;
    color: #1ab188;
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;


}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;


}

input,
textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}



.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row>div {
    float: left;
    width: 48%;
    margin-right: 4%;


}

.top-row :last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    transition: all.5s ease;
    -webkit-appearance: none;


}



.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

.form-btn {
    background: #1ab188;
    color: #ffffff;
    border-radius: 0px;


}

*/




/* Footer */

@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.footer {
    font-family: Raleway, sans-serif;
    width: 100%;
    margin: 2em 0;
    height: 70px;
    background-color: #000;
}

.copyright {
    width: 50%;
    float: left;

}

.footer p {
    padding-left: 10%;
    color: white;
    font-size: 0.7em;
    line-height: 70px;
    text-transform: capitalize;
    letter-spacing: 1px;

    @media (max-width: 600px) {
        text-align: center;
        padding: 0;
    }

}

.social {
    width: 50%;
    float: right;

    @media (max-width: 600px) {
        width: 100%;
    }

}

.footer a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s;

}

footer .social a:hover {
    background-color: #222;
    transition: all .3s;
}

.git {
    background-color: #3D5B94;
    font-size: 1.2em;
    width: 33%;
}

.contact {
    background-color: #6dcd9a;
    font-size: 0.8em;
    width: 33%;
}

.linkedin {
    background-color: #1E83AE;
    font-size: 1.2em;
    width: 33%;
}


/* Cart */

.container-products {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.container-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;


}

.product-title {
    width: 45%
}

.card {
    border: 2px solid #000000;

}

.product-text {
    font-size: 12px;
    padding-top: 10px;
    margin-bottom: O !important;

}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
   display: none;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}


.basketTotal {
    width: 10%
}

@media(max-width: 500px) {
    nav h2 {
        width: 100px;
        text-align: center;
        margin-bottom: 10px;
    }

    .sm-hide {
        display: none;
    }

    .products,
    .product-header {
        justify-content: center;
    }

    .basketTotalContainer {
        padding-right: 8%;
    }

}

.cart-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}


.cart-quantity span {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;


}

.cart-quantity input {
    width: 30px;
    height: 30px;
    pointer-events: none;
    text-align: center;
}

.cart-quantity input::placeholder {
    font-size: 1em;
}

.product-name-cart {
    padding-left: 10px;
}


/* Connexion */

.connexion-container {
    background-color: black;
}



/* Jumbotron */

.jumbo-products-homepage {
    margin-top: 150px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}

.jumbo-chat-homepage {
    background-image: url('../images/chat-wallpaper.jpg');
    text-align: center;
    margin-bottom: 150px;
    width: 100%;
    border: 4px solid black;
    margin-top: 80px;
    background-repeat: no-repeat;
    background-size: cover;

}

.jumbotron a {
    color: #ffffff;
}

/* Pagination */

.pagination {
    justify-content: center;
}

/* Product List */

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .products-container {
        margin: auto;
    }

}

.btn-detail {
    margin-bottom: 10px;
    float: right;
}

.card {
    border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
}

.product-price {
    position: absolute;
    background: #11e95b;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    font-weight: 200;
    color: #fff;
    border-radius: 7px;
    margin-top: -13px;
    margin-left: -5px;
    box-shadow: -10px 20px 15px -10px rgba(17, 233, 91, 0.3);
}



/* Single Product */

.single-product-container {
    text-align: center;
    margin-top: 30px;
}


/* Payment Component */


.rounded-lg {
    border-radius: 1rem;
    margin-top: 40px;
}

.nav-pills .nav-link {
    color: #555;
}

.nav-pills .nav-link.active {
    color: #fff;
}



/* Contact Form CSS */


.get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;

}

.get-in-touch .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
    color: #5543ca;
    background: #5543ca;
    background: -moz-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: -webkit-linear-gradient(left, #f4524d 0%, #5543ca 100%) !important;
    background: linear-gradient(to right, #f4524d 0%, #5543ca 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
    position: relative;
    margin: 32px 0;
}

.contact-form .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #5543ca;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.contact-form .input-text:focus {
    outline: none;
    border: #ffffff;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
}

.contact-form .label {
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #5543ca;
    cursor: text;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,
        -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
    display: inline-block;
    background-color: #000;
    background-image: linear-gradient(125deg, #a72879, #064497);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

.contact-form .form-control {
    background-color: #ffffff !important;
}

/* Featured Component */

.featured-price,
.featured-promo {
    color: red;
    font-size: 24px;

}

.featured-container {

    text-align: center;
}

.featured-products-container {
    padding-bottom: 20px;
}

/* Previous Button */

.previous a {
    margin-top: 95px !important;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.previous a:hover {
    background-color: #ddd;
    color: black;
  }
